* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.id-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: brown;
}

.id-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
    padding: 100px;
    border-radius: 30px;
}

#login-text {
    font-size: 28px;
}
